$primary-color: #1cd352;


@font-face {
    font-family: 'KhmerOSKoulen';
    src: url('/theme_ideaview/static/src/fonts/KhmerOSKoulen.woff');
}  


.idv_header{
    background-color: $primary-color;
    color: #fff;
}
.s_idv_banner{
    min-height: auto;
    background-size: cover;
    @include media-breakpoint-up(md){
        min-height: 90vh;
    }
}
nav{
    &.idv-navbar{
        a{
            &.logo{
                img{
                    @include media-breakpoint-up(md){
                        height: 50px;
                    }
                }
            }
        }        
    }
    ul{
        li{
            &.nav-item{
                a{
                    color: #fff;
                    &:hover{
                        color: darken($color: #fff, $amount: 10);
                    }
                }
            }
        }
    }
}