$primary-color: #072837;


@-moz-keyframes move-wheel {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1rem);
        transform: translateY(-1rem)
    }
    25% {
        opacity: .25
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1;
        -moz-transform: translateY(1rem);
        transform: translateY(1rem)
    }
}

@keyframes move-wheel {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        transform: translateY(-1rem)
    }
    25% {
        opacity: .25
    }
    50% {
        opacity: .5
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(1rem);
        -moz-transform: translateY(1rem);
        transform: translateY(1rem)
    }
}
.navbar-toggler{
    border-color: #fff;
    color: #fff;
}

.container{
    @include media-breakpoint-up(md){
        max-width: 1320px;
    }
}
.font-koulen{
    font-family: "KhmerOSKoulen";
}
.font-Noto-Khmer{
    font-family: 'Noto Sans Khmer';
}
.primary-color{
    background-color: $primary-color;
}
#wrap{
    background-color: #f0f2f5;
}
body{
    background-color: #f0f2f5;
}
section{
    &.s_idv_banner{
        background-color: lighten($color:  $primary-color, $amount: 5);
        height: 270px !important;
        @include media-breakpoint-up(md){
            background-color: $primary-color;
            height: 80% !important;
        }
        .inner-banner{
            a{
                &.banner-link{
                    transition: .3s;
                    position: absolute;
                    background-color: #fff;
                    width: 40px;
                    height: 65px;
                    left: 50%;
                    bottom: 0;
                    border-radius: 40px;
                    transform: translateX(-50%);
                    @include media-breakpoint-up(md){
                        bottom: 50px;
                    }
                    &:hover{
                        background-color: lighten($color: $primary-color, $amount: 20);
                        color: #fff;
                        svg{
                            color: #fff;
                        }
                    }
                    svg{
                        font-size: 30px;
                        position: relative;
                        left: 5px;
                        top: 10px;
                        animation: move-wheel 1.3s linear infinite;
                        transition: .3s;
                    }
                }
            }
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    &#s_ids_new_books,
    &#idv_book_author_category,
    &#idv_new_book_style_tmp_1{
        margin: 1rem 0;
        @include media-breakpoint-up(md){
            margin: 2rem 0;
        }        
        .inner-new-book{
            .book-cover{
                @include media-breakpoint-up(md){
                    flex: 0 0 37.5%
                }
                img{
                    border-radius: 8px;
                }
            }
            .book-summary{
                padding: 1rem;
                @include media-breakpoint-up(md){
                    flex: 0 0 62.5%;
                }
            }
        }
        .inner-wrapper{
            @include media-breakpoint-up(md){
                display: grid;
                grid-column-gap: 1rem;     
                grid-template-columns: repeat(2,1fr);         
            }
            a{
                &.inner-book{
                    color: #000;
                }
            }
            .inner-book{         
                @include media-breakpoint-up(md){
                    flex: 0 0 50%;
                    display: block;
                }                      
                article{               
                    margin-top: 35px;   
                    display: block;
                    background-color: #fff;
                    padding: .7rem;
                    border-radius: 8px;
                    position: relative;
                    border: 2px solid transparent;                
                    word-wrap: break-word;  
                    @include media-breakpoint-up(md){
                        padding: 1rem;
                    }
                    &.book{
                        display: flex;
                        .post-thumbnail{
                            display: block;
                            flex: 0 0 37.5%;
                            margin-top: -35px;
                            img{
                                border-radius: 8px;
                            }
                        }
                        h2,h3{
                            font-size: 12px;
                        }
                        .content{
                            display: block;
                            flex: 0 0 62.5%;
                            padding-left: 5px;
                            @include media-breakpoint-up(md){
                                padding-left: 1rem;
                            }
                            header{
                                display: inline-block;
                                &.entry-header{
                                    display: inline-block;
                                    h2,h3{
                                        font-size: 12px;
                                        display: block;
                                        float: left;
                                        margin-bottom: 5px;
                                        @include media-breakpoint-up(md){
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                            p{
                                margin-bottom: 10px;
                                font-size: 12px;
                                max-height: 75px;
                                overflow: hidden;
                                @include media-breakpoint-up(md){
                                    font-size: 1rem;
                                    max-height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    &#s_idv_popular_book,
    &#idv_homepage{
        margin: 1rem 0;
        @include media-breakpoint-up(md){
            margin: 2rem 0;
        }
        .inner-popular-book{
            &:hover{
                transform: translateY(-5px) scale(1.005) translateZ(0);
                box-shadow: 0 24px 36px rgba(0,0,0,0.11), 0 24px 46px var(--box-shadow-color);
            }
            .post-thumbnail{
                border: 3px solid #fff;
                img{
                    width: 100%;
                }
            }
            .content{
                display: none;
                position: absolute;
                padding: .7rem;
                bottom: 0;
                transition: .3s;
                background-color: #fff;
                border: 1px solid #f0f2f5;
                width: 100%;
                @include media-breakpoint-up(md){
                    padding: 1rem;
                }
                h2{
                    @include media-breakpoint-up(md){
                        font-size: 1rem;
                    }
                }
                .price{
                    background-color: $primary-color;
                    color: #fff;
                    border-radius: 4rem;
                    text-align: center;
                    padding: .5rem;
                }
            }
            a{
                // transition: .3s;
                transition: 0.4s ease-out;
                &:hover{
                    top: -10px;
                    border: 3px solid #fff;
                    box-shadow: 0 10px 15px -3px rgba(0,0,0,.15),0 4px 6px -2px rgba(0,0,0,.04);
                    transform: translateY(20px);
                    .content{
                        display: block;
                    }
                }
            }
        }
    }
    &#idv_single_book{
        margin: 1rem 0;
        @include media-breakpoint-up(md){
            margin: 3rem 0;
        }        
        article{
            &.single-book{
                .card-body{
                    display: block;
                    .summary{
                        display: grid;
                        grid-gap: 1rem;
                        @include media-breakpoint-up(md){
                            grid-template-columns: 25% 1fr;
                        }
                        .inner-summary{
                            h1{
                                font-size: 1.5rem;
                            }
                            ul{
                                &.summary{
                                    margin: 0;
                                    padding: 0;
                                    display: grid;
                                    grid-gap: .5rem;
                                    @include media-breakpoint-up(md){
                                        grid-template-columns: repeat(2, 1fr);
                                    }
                                }
                            }
                        }                        
                    }
                    .post-thumbnail{
                        @include media-breakpoint-up(md){
                            float: left;
                        }
                    }
                    .content{
                        float: left;
                    }
                }
            }
        }
    }
}

.new_book_message{
    h2{
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        @include media-breakpoint-up(md){
            font-size: 2rem;
        }
    }
    p{                
        @include media-breakpoint-up(md){
            font-size: 21px;
            margin: auto;
            width: 70%;
        }
    }
}
.card-category{
    margin-bottom: 1rem;
    @include media-breakpoint-up(md){
        margin-bottom: 1.5rem;
    }
    .card-header{
        background-color: $primary-color;
        color: #fff;                
    }
}
article{
    &.card-blog{
        margin-bottom: 1rem;
        @include media-breakpoint-up(md){
            margin-bottom: 1.5rem;
        }
        .post-thumbnail{
            @include media-breakpoint-up(md){
                height:230px;
            }
            img{
                @include media-breakpoint-up(md){
                    object-fit: cover;
                    height:100%;
                }
            }
        }
        .card-body{   
            // @include media-breakpoint-up(md){
            //     height:180px;
            // }         
            a{
                h2{
                    font-size: 1.2rem;
                    color: $primary-color;
                }
            }
        }
    }
}
#idv_blog_post_single, #idv_power_of_reading_single{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 2rem 0;
    }
    header{
        &.entry-header{
            margin: 1.5rem 0;
            h1{
                font-size: 1.5rem;
            }
        }
    }
    .post-meta-wrapper{
        ul{
            @include media-breakpoint-up(md){
                display: flex;
            }
            font-size: .9rem;
            li{
                margin-right: 1rem;
            }
        }
    }
}
.latest-news-card{
    .card-header{
        background-color: $primary-color;
        color: #fff;
    }
    li{
        &.list-group-item{
            a{
                &.post-thumbnail{
                    width: 65px;
                    height: 45px;
                    img{
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
            .content{
                width: 65%;
                p{
                    margin-bottom: 0;
                    font-size: .8rem;
                }
            }
        }
    }
}
#idv_blog_post_by_category,#idv_product_index{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 1.5rem 0;
    }
    .card-blog{
        a{
            &.post-thumbnail{
                @include media-breakpoint-up(md){
                    height: 150px;
                }
            }            
        }
    }    
}
.breadcrumb{
    @include media-breakpoint-down(md){
        overflow-y: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
}
.book_card{
    border-radius: 15px;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.15),0 4px 6px -2px rgba(0,0,0,.04);
    overflow: hidden;
    color: #fff;
    margin-bottom: 15px;
    @include media-breakpoint-up(md){
        display: block;
        margin: auto;
    }
    &:hover{
        transform: translateY(20px);
        &::before{
            opacity: 1
        }
        .content{
            opacity: 1;
            transform: translateY(0px);
        }
    }  
    &::before{
        content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(0,0,0, 0.7);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
    } 
    img{
        @include media-breakpoint-up(md){
            width: 100%;
        }
    }
    .content{
        position: absolute;
        bottom: 0;
        width: 100%;
		z-index: 3;
		opacity: 0;
		transform: translateY(30px);
		transition: 0.5s;
        padding: 1rem;
        color: #fff;
        // background-color: #fff;
        h2{
            font-size: 1rem;
        }
        .price{
            background-color: #fff;
            color: $primary-color;
            padding: .5rem 1rem;
            border-radius: 4px;
            text-align: center;
        }
    } 
}
.card-blog{
    transition: 0.4s ease-out;
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.15),0 4px 6px -2px rgba(0,0,0,.04);
    &:hover{
        transform: translateY(-10px);
    }
}
#idv_book_author_category{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 1.5rem 0;
    }
}
table{
    tbody{
        &.table-cart-item{
            tr{
                td{
                    span.decrease-qty,
                    span.increase-qty{
                        padding: .3rem;
                        .fa{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
#idv_book_cart_view{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 1.5rem 0;
    }    
}
article{
    &#blog_card_row{
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 1rem;
        background-color: #fff;
        @include media-breakpoint-up(md){
            margin-bottom: 1.5rem;
            grid-template-columns: 280px auto;
        }
        .content{
            padding: 1rem;
            h2{
                font-size: 1.5rem;
            }
        }
        
    }
}
#idv_faq_page_template{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 1.5rem 0;
    }
    .banner{
        background-color: $primary-color;
    } 
    
}
#idv_faq{
    .message{
        margin: 1rem auto;
        text-align: center;
        @include media-breakpoint-up(md){
            margin: 1.5rem auto;
        }
        h2{
            font-size: 1rem;
            @include media-breakpoint-up(md){
                font-size: 1.5rem;
            }
        }
    }   
}
li.faq-item{
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: .5rem 1rem;
    cursor: pointer;
    h2{
        font-size: 1rem;        
        font-weight: normal;
        margin-bottom: 5px;
        @include media-breakpoint-up(md){
            font-size: 1.3rem;
        }
        &::before{
            width: 10px;
            height: 10px;
            content: "\f061";
            font-size: .7rem;            
            font-weight: normal;
            margin-right: 10px;
            font-family: 'FontAwesome';
            @include media-breakpoint-up(md){
                font-size: 1rem;
            }
        }
        &.expanded{
            &::before{
                width: 10px;
                height: 10px;
                content: "\f063";
                font-size: 1rem;
                font-weight: normal;
                margin-right: 10px;
                font-family: 'FontAwesome';
            }
        }
    }
    p{
        padding: .5rem 0;
        &.hide{
            display: none;
        }
    }
}

.booked_success_message{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin: auto;
    text-align: center;
    @include media-breakpoint-up(md){
        width: 70%;
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
}
header{
    &.o_top_menu_collapse_shown{
        .navbar-collapse{
            @include media-breakpoint-down(sm){
                margin-top: 1rem;
            }
        }
    }
    &.page-header{
        background-color: $primary-color;
        color: #fff;
        padding: .7rem;
        margin-bottom: 1rem;
        border-radius: calc(0.25rem - 1px);
        @include media-breakpoint-up(md){
            margin-bottom: 1.5rem;
        }
        h1{
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }
}
.p_price{
    position: absolute;
    bottom: 0;
    background-color: #142139;
    color: #f1f1f1;
    transition: 0.5s ease;
    color: white;
    padding: 15px;
    text-align: center;
}
#idv_product_single{
    margin: 1rem 0;
    @include media-breakpoint-up(md){
        margin: 1.5rem 0;
    }
}
article{
    &.product{
        background-color: #fff;
        padding: 1rem;
        h1{
            font-size: 1.5rem;
        }
        .entry-meta{
            line-height: 1.5;
            align-self: flex-end;
            flex-wrap: nowrap;
            padding-bottom: 5px;
            font-size: 1rem;
        }
    }
}